@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin button {
    display: inline-block;
    margin: 15px;
    padding: 20px 50px;
    background-color: $button-bg;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: $transition;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.3;
    border-radius: 35px;
    width: 100%;
    max-width: 300px;


    &:hover {
        background: #f44f4f;
        transition: $transition;
        -webkit-box-shadow: 0px 9px 34px -9px rgba(229, 42, 42, 1);
        -moz-box-shadow: 0px 9px 34px -9px rgba(229, 42, 42, 1);
        box-shadow: 0px 9px 34px -9px rgba(229, 42, 42, 1);
    }

    @media (max-width: $sm) {
        padding: 15px 30px;

    }
}

@mixin _979 {
    @media (max-width: 979px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px){
        @content;
    }
}
@mixin _600 {
    @media (max-width: 600px){
        @content;
    }
}
